@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,900&display=swap%27');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.btn{
    width: 150px;
    height: 50px;
    background-color: aqua;
    border: 1px solid #000000;
    margin: 25px auto;
    font-weight: 600;
}