<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Cardápio - Tela 3</title>
</head>
<body>

    <div class="img-top">
        <img src="./assets//img/top.jpeg" alt="Cardápio">
    </div>

    <div class="container-opc">
        <a href="/views/nadi/index.html" class="card-opc op-carnes" id="carnes"><p class="title-opc">Carnes</p></a>
        <a href="/views/nadi/index.html" class="card-opc op-massas" id="massas"><p class="title-opc">Massas</p></a>
        <a href="/views/nadi/index.html" class="card-opc op-bebidas" id="bebidas"><p class="title-opc">Bebidas</p></a>
        <a href="/views/nadi/index.html" class="card-opc op-frios" id="frios"><p class="title-opc">Frios</p></a>
        <a href="/views/nadi/index.html" class="card-opc op-sorvetes" id="sorvetes"><p class="title-opc">Sorvetes</p></a>
        <a href="/views/nadi/index.html" class="card-opc op-sobremesas" id="sobremesas"><p class="title-opc">Sobremesas</p></a>
    </div>
    
    <script src="./index.js"></script>
</body>
</html>